.select-wrapper {
  position: relative;
  display: inline-block;
  width: 200px; /* или другая ширина по вашему выбору */
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select:focus {
  outline: none;
  border-color: #4a90e2;
}

/* Стилизация стрелочки */
.custom-select:after {
  content: '\25BC'; /* Unicode символ стрелки вниз */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #333;
  font-size: 14px;
}
