<div class="modal-create-moderator_wrap">
  <div class="modal-create-moderator modal-create-moderator_overlay"></div>
  <form class="modal-create-moderator__window">
    <div class="modal-create-moderator__wrap-title">
      <div class="modal-create-moderator__title">Send message</div>
      <div class="modal-create-moderator__close-img"></div>
    </div>
    <textarea class="modal-create-moderator__area" name="" id="" cols="30" rows="10" required></textarea>
    <div class="modal-create-moderator__wrap-buttons">
      <input type="submit" class="modal-create-moderator__send-button" value="Send" />
      <div class="modal-create-moderator__close-button">Cancel</div>
    </div>
  </form>
</div>
