<nav class='nav'>
    <ul>
        <li>
           <%= link_to "Users", "/users",class:"nav__link nav__link#{active?('/users')}" %> 
        </li>  

        <li>
            <%= link_to "Scamers", "/scamers", class:"nav__link nav__link#{active?('/scamers')}"%> 
        </li>  
    </ul>
</nav>