<div class="select-wrapper" data-controller="selectstatus2">
  <select class="custom-select" id="<%= id %>">
    <% options.each do |status| %>
      <% selected = user_status == status[:value] %>
      <option value="<%= status[:value] %>" <%= 'selected' if selected %>>
        <%= status[:label] %>
      </option>
    <% end %>
  </select>
  <div class="spinner" data-selectstatus2-target="spinner2"></div>
</div>
